.skrw { 
  font-family: var(--skrw-font-family);
  font-size: var(--skrw-font-size);
  color: var(--skrw-color-font);

  h1, h2, h3 {
    font-size: var(--skrw-font-size);
    line-height: var(--skrw-line-height);
    margin: var(--skrw-line-height-spacing) 0;
    font-weight: normal;
    font-style: normal;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: calc(1.25 * var(--skrw-font-size));
  }

  h2 {
    text-transform: uppercase;
    text-decoration: underline;
  }

  h3 {
    font-style: italic; 
  }

  p {
    margin-bottom: var(--skrw-line-height-spacing);
  }

  li {
    margin-bottom: var(--skrw-line-height-spacing);
  }
}

.skrw-error {
  color: var(--skrw-color-error);
}
