:root {
  --skrw-unit: .25rem;
  --skrw-font-size: 18px;
  --skrw-line-height: 1.2;
  --skrw-line-height-spacing: calc(var(--skrw-line-height) * 1em);

  --skrw-font-family: Courier;
  --skrw-color-font: black;
  --skrw-color-background: lightgrey;
  --skrw-color-form-background: white;
  --skrw-color-flash-background: yellow;
  --skrw-color-link: blue;
  --skrw-color-link-hover: blue;
  --skrw-color-control: blue;
  --skrw-color-control-hover: var(--skrw-color-font);
  --skrw-color-control-background: transparent;
  --skrw-color-success: var(--skrw-color-font);
  --skrw-color-error: red;
  --skrw-color-dashboard-background: var(--skrw-color-background);
  --skrw-color-dashboard-user-background: white;
  --skrw-color-dashboard-control: red;

  --skrw-form-border: 1px solid var(--skrw-color-font);
  --skrw-form-mde-min-height: calc(5 * var(--skrw-line-height-spacing));

  --skrw-dashboard-control-height: 4em;
}
