%a {
  color: var(--skrw-color-link);
  text-decoration: underline;

  &:visited {
    color: var(--skrw-color-link);
  }

  &:hover {
    color: var(--skrw-color-link-hover);
    text-decoration: none;
  }

  &:visited, &:hover {
    font-style: normal;
  }

  &.--current {
    color: var(--skrw-color-link-hover);
    text-decoration: none;
  }
}

%a--subtile {
  text-decoration: none;
  color: var(--skrw-color-font);

  &:visited {
    color: var(--skrw-color-font);
  }

  &:hover {
    color: var(--skrw-color-link-hover);
    text-decoration: underline;
  }
}

%control {
  display: inline-block;
  padding: 0 .2em;
  background: var(--skrw-color-control-background);
  border: none;
  color: var(--skrw-color-control);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--skrw-color-control-hover);
  }

  &:visited {
    color: var(--skrw-color-control);
  }
}

.skrw {

  a {
    @extend %a;
  }

  a.--subtile {
    @extend %a--subtile;
  }

  button, .skrw-control {
    @extend %control;
  }
}
