.skrw-flash {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: var(--skrw-unit);
  background: var(--skrw-color-flash-background);
  border-bottom: 1px solid;
  transition: transform .1s linear;
  text-align: right;

  &.--hidden {
    transform: translateY(100%);
  }

  ul {
    margin: 0;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__success {
    color: var(--skrw-color-success);
  }

  &__error {
    color: var(--skrw-color-error);
  }
}
