%field {
  background: var(--skrw-color-form-background);
  border: var(--skrw-form-border);
  padding: var(--skrw-field-padding);
  margin-bottom: 0;
}

.skrw form {
  --skrw-field-padding: .2em;
  
  &, * {
    font-family: var(--skrw-font-family);
  }

  label {
    display: block;
    width: 100%;
  }

  input:not([type="submit"]), textarea, select {
    @extend %field;
  }

  input:not([type="checkbox"]), textarea, select {
    display: block;
    width: 100%;
  }

  input[type="checkbox"] {
    appearance: none;
    position: relative;
    vertical-align: middle;
    width: calc(2 * var(--skrw-field-padding) + var(--skrw-line-height-spacing));
    height: calc(2 * var(--skrw-field-padding) + var(--skrw-line-height-spacing));
    margin-right: calc(.15 * var(--skrw-line-height-spacing));
    cursor: pointer;

    &:checked:before {
      content: "\2714";
      position: absolute;
      top: -.1em;
      left: .1em;
      font-size: 2em;
      line-height: 1em;
    }

    &:hover:before {
      color: var(--skrw-color-link-hover);
    }
  }

  input[type="submit"] {
    width: auto;
    @extend %control;
  }

  input, textarea, select {

    &:invalid {
      border-color: var(--skrw-color-error);
      box-shadow: none;
    }
  }

  .field_with_errors {
    label {
      color: var(--skrw-color-error);
    }

    input, textarea, select {
      border-color: var(--skrw-color-error);
    }
  }
}

.skrw-form-field {
  margin-bottom: var(--skrw-line-height-spacing);
}
