.skrw {

  ul, ol {
    margin-bottom: var(--skrw-line-height-spacing);

    li {
      margin-bottom: var(--skrw-line-height-spacing);
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    > li {
      position: relative;
      padding-left: var(--skrw-line-height-spacing);

      &:before {
        content: "*";
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &.--no-bullet {

      > li:before {
        content: "";
        position: static;
      }
    }
  }

  ul.--lines, ol.--lines {

    > li {
      margin: 0;
      padding-top: var(--skrw-unit);
      padding-bottom: var(--skrw-unit);
      border-bottom: 1px solid;
    }

    > li:first-child {
      border-top: 1px solid;
    }
  }

  ul.--inline {
    list-style-type: none;
    padding-left: 0;

    > li {
      display: inline-block;
    }
  }

  ol, [data-controller="skrw-sortable"] {
    counter-reset: skrw-ol;
    list-style-type: none;
    padding-left: 0;

    li {
      counter-increment: skrw-ol;
      position: relative;
      padding-left: calc(1.5 * var(--skrw-line-height-spacing));
    }

    li:before {
      content: counter(skrw-ol) ".";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  [data-controller="skrw-sortable"] {
    
    li {
      cursor: move;
    }
  }
}
