.skrw-dashboard {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  border-top: 1px solid var(--skrw-color-font);
  background: var(--skrw-color-dashboard-background);
  transform: translateY(100%);
  transition: transform .15s;

  @screen sm {
    min-height: auto;
  }

  &.--expanded {
    transform: translate(0%);
  }

  &__user, &__content, &__breadcrumbs {
    padding: var(--skrw-unit);
  }

  &__user {
    padding-left: calc(2.5 * var(--skrw-line-height-spacing));
    border-bottom: 1px solid var(--skrw-color-font);
    background: var(--skrw-color-dashboard-user-background);

    @screen sm {
      display: flex;

      > *:nth-child(1) {
        flex-grow: 1;
      }

      > *:nth-child(n+2) {
        margin-left: var(--skrw-line-height-spacing);
      }
    }
  }

  &__breadcrumbs {

    ul {
      list-style-type: none;
      padding: 0;

      > * {
        display: inline-block;
        padding-left: 0 !important;
        margin-bottom: 0;
      }

      > *:before {
        display: none;
      }

      > *:after {
        content: " \003E ";
      }

      > *:last-child:after {
        content: "";
      }
    }
  }

  &__content {
    padding-bottom: var(--skrw-line-height-spacing);

    ul > li, ol > li {
      margin-bottom: 0;
    }
  }

  [data-target="skrw-dashboard.control"] {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 25%;
    height: var(--skrw-dashboard-control-height);
    padding: var(--skrw-unit);
    cursor: pointer;
    transform: translateY(-100%);
    transition: transform .15s .30s;

    &:before {
      content: "(^)";
      color: var(--skrw-color-dashboard-control);
    }

    &:hover:before {
      color: var(--skrw-color-link-hover);
    }
  }

  &.--expanded [data-target="skrw-dashboard.control"] {
    transform: translateY(0%);
    height: auto;
  }

  &.--expanded [data-target="skrw-dashboard.control"]:before {
    content: "(X)"
  }
}
